# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Sumup (Paiement - 1,39% commission)
SUMUP_API_KEY=your_sumup_api_key
SUMUP_MERCHANT_CODE=your_merchant_code
SUMUP_WEBHOOK_SECRET=your_webhook_secret
NEXT_PUBLIC_URL=http://localhost:3000

# Mode Test (Simulateur de paiement)
# true = Mode test avec simulateur (aucun appel API réel)
# false = Mode production avec vraie API Sumup
SUMUP_TEST_MODE=true

# Resend (Envoi d'emails)
RESEND_API_KEY=rre_JrFbG5QN_4M2T2Nw9GKG3opon1cUpTt9R
# Email de la fleuriste pour recevoir les notifications de commandes
FLORIST_EMAIL=dev.fleurscomflorie@proton.me
